<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- this is the object that will be proxied by Spring's AOP infrastructure -->
    <bean id="car4" class="com.bigdata.designpattern.proxy.Car4"/>
    <bean id="loggingProxy" class="com.bigdata.designpattern.proxy.LoggingProxy"/>


    <aop:config>
        <aop:aspect id="logging" ref="loggingProxy">
            <aop:pointcut id="carMove" expression="execution(* com.bigdata.designpattern.proxy.Car4.move())"/>
            <aop:before pointcut-ref="carMove" method="preLogging"/>
            <aop:after pointcut-ref="carMove" method="postLogging"/>
        </aop:aspect>
    </aop:config>

</beans>